.profile-doctor-container {
    .intro-doctor {
        display: flex;
        margin: 0 100px;
        //padding: 0 100px;


        .content-left {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;

        }

        .content-right {
            width: calc(100% - 80px);
            padding-left: 10px;
            display: flex;
            flex-direction: column;

            .up {
                font-weight: 600;

            }

            .down {
                text-align: justify;
            }
        }
    }
}