#patients {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#patients td,
#patients th {
    border: 1px solid #ddd;
    padding: 8px;
}

#patients tr:nth-child(even) {
    background-color: #f2f2f2;
}

#patients tr:hover {
    background-color: #ddd;
}

#patients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}


div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 1000000;
    }
}

.manage-patient-container {
    .m-p-title {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }

    .manage-patient-body {
        padding: 0 20px;

        .table-manage-patient {

            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th,
            td {
                padding: 5px;
                text-align: left;
            }

            button {
                border: none;
                outline: none;
                cursor: pointer;

            }

            .mp-btn-confirm {
                margin-right: 10px;
                height: 30px;
                border-radius: 3px;
                background: orange;
            }

            .mp-btn-remedy {
                height: 30px;
                border-radius: 3px;
                background: #39dca0;
            }
        }
    }
}