.booking-modal-container {
    max-width: 800px;
    /* Adjust the width as needed */
    width: 100%;
}

.modal-body {
    max-height: calc(100vh - 200px);
    /* Adjust the height as needed */
    overflow-y: auto;
}

/* Adjust the styles for the MdEditor if needed */
.md-editor {
    width: 100%;
}

.md-editor .rc-md-editor {
    height: 300px;
    /* Adjust the height as needed */
}